exclude: "docs/|ext/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.16.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus, --keep-percent-format]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.5.2"
    hooks:
      # Run the linter.
      - id: ruff
      # Run the formatter.
      - id: ruff-format
